<h1 xmlns="http://www.w3.org/1999/html">Inscription :</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">Your form is valid!</h5>
  <div class="container-fluid">
    <div class="row p-4">
      <div class="col-3">
        Nom :
      </div>
      <div class="col-4">
        <input type="text" formControlName="nom" class="form-control">
        <div *ngIf="submitted && messageForm.controls.nom.errors" class="alert-danger">
          <div *ngIf="messageForm.controls.nom.errors.required">Votre nom est requis.</div>
        </div>
      </div>
    </div>

    <div class="row p-4">
      <div class="input-group">
        <div class="col-3">Prénom :</div>
        <div class="col-4">
          <input type="text" formControlName="prenom" class="form-control">
          <div *ngIf="submitted && messageForm.controls.prenom.errors" class="alert-danger">
            <div *ngIf="messageForm.controls.prenom.errors.required">Votre prénom est requis.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row p-4">
      <div class="input-group">
        <div class="col-3">Email :</div>
        <div class="col-4">
          <input type="text" formControlName="email" class="form-control">
          <div *ngIf="submitted && messageForm.controls.email.errors" class="alert-danger">
            <div *ngIf="messageForm.controls.email.errors.required">Votre adresse email est requise.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row p-4">
      <div class="input-group">
        <div class="col-3">Password :</div>
        <div class="col-4">
          <input type="password" formControlName="password" class="form-control">
          <div *ngIf="submitted && messageForm.controls.password.errors" class="alert-danger">
            <div *ngIf="messageForm.controls.password.errors.required">Votre Mot de passe est requis.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row p-4">
      <div class="input-group">
        <div class="col-3">Date de Naissance :</div>
        <div class="col-4">
          <input type="date" formControlName="dateDeNaissance" class="form-control">
          <div *ngIf="submitted && messageForm.controls.dateDeNaissance.errors" class="alert-danger">
            <div *ngIf="messageForm.controls.dateDeNaissance.errors.required">Votre Date de naissance est requise.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row p-4 ">
      <div class="input-group">
        <div class="col-3">Photo :</div>
        <div class="col-4">
          <input type="file" formControlName="photo">
          <div *ngIf="submitted && messageForm.controls.photo.errors" class="alert-danger">
            <div *ngIf="messageForm.controls.photo.errors.required">Votre photo est requise.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-4">
      <div class="col-4 text-center">
        <input type="submit" value="Valider" class="cta">
      </div>
      <div class="col-3  text-center">
        <input type="reset" value="Annuler" class="cta">
      </div>
    </div>
  </div>
</form>

<!--
<div *ngIf="submitted" class="results">
  <strong>Name:</strong>
  <span>{{ messageForm.controls.name.value }}</span>

  <strong>Message:</strong>
  <span>{{ messageForm.controls.message.value }}</span>
</div>
-->
