<header>
  <div class="container2">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/inscription">Inscription</a></li>
        
        <li>
        
          <div *ngIf='isConnected()'>
            <a> {{connectedUser.nom}}</a>
          </div>
          <div *ngIf='!isConnected()'>
            <a routerLink="/login">Se connecter</a>
          </div>
                 
        </li>

      </ul>
    </nav>
  </div>
</header>
