<div class="text-lg-center">
  <h1>Marhaba</h1>
</div>
<div class="container">
  <p>
    <img src="assets/img/img.jpg" class="mx-auto d-block" alt="image" style="width:600px;height:500px;">
  </p>
</div>
<div class="text-lg-left">
  <p>Rencontre sur internet : Marhaba </p>
  <div class="text-lg-left">
    <li>Nouvelle histoire commence sur Marhaba, des profils de qualité pour des rencontres dans sa région.</li>
    <li> Le service de rencontres préféré en France, une centaine d’évènements par mois.</li>
    <li>Rencontres sérieuses garanties 100% .</li>
  </div>
</div>




